<app-navbar></app-navbar>

<div class="self {{light}} {{heightfix}}">
    <div class="home container">

        <div class="row  {{hidecomponent}}">
            <div [@expand]>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center cat">
                    <span class="select badge badge-info"> Select Category:</span>
                    <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">
              <option *ngFor="let quiz of quizes" [value]="quiz.id">
                {{ quiz.name }}
              </option>
            </select>
                </div>
            </div>
        </div>
        <div id="quiz">
            <h2 class="text-center heading-1 font-weight-normal {{marginHide}}" [@expand]>
                {{ quiz.name }}
            </h2>
            <hr />

            <div *ngIf="mode == 'quiz' && quiz">
                <div *ngFor="let question of filteredQuestions">
                    <div class="badge badge-info">
                        Question {{ pager.index + 1 }} of {{ pager.count }}.
                    </div>
                    <div *ngIf="config.duration" class="badge badge-info float-right">
                        Time: {{ ellapsedTime }} / {{ duration }}
                    </div>
                    <h2 class="font-weight-normal" [@flyInOut]>
                        {{ pager.index + 1 }}.
                        <span [innerHTML]="question.name"></span>
                    </h2>

                    <div class="row text-left options" [@flyInOut]>
                        <div class="col-6" *ngFor="let option of question.options">
                            <div class="option">
                                <label class="font-weight-normal" [attr.for]="option.id">
                    <input
                      id="{{ option.id }}"
                      type="checkbox"
                     
                      [(ngModel)]="option.selected"
                      (change)="onSelect(question, option)"
                    />
                    {{ option.name }}
                  </label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="pager.index == 9">
                        <h1 style="text-align: center; font-weight: bold;">Please Click Submit</h1>
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <!-- <button class="btn grow btn-secondary" *ngIf="config.allowBack" (click)="goTo(0);">First</button> -->
                    <button class="btn grow  btn-primary mr-3" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>
                    <button class="btn grow btn-primary ml-3" (click)="goTo(pager.index + 1);">Next</button>
                    <!-- <button class="btn grow btn-secondary" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button> -->
                    <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
                </div>
            </div>
        </div>


        
    </div>
</div>