<app-navbar></app-navbar>

<div class="home {{light}}">
    <div class="container">
        <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button>
    </div>