.home {
    padding: 15vh 0;
}

.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
}

.left-side {
    flex-basis: 40%;
    position: relative;
    margin-left: 20px;
}

.left-side h2 {
    font-size: 50px;
}

.left-side p {
    font-size: 14px;
    color: #918e8e;
    font-weight: 400;
}

.know-button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

.button-image {
    width: 30px;
    display: none;
}

.know-button:hover .button-image {
    display: block;
}

.know-button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left-side::after {
    content: "";
    width: 10px;
    height: 100%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -20px;
    top: 0px;
}

.right-side {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.right-side img.controller {
    width: 90%;
}

.right-side img.controller-dark {
    display: none;
    width: 90%;
}