.home {
    padding: 15vh 0;
}

.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
}

.left-side {
    flex-basis: 40%;
    position: relative;
    margin-left: 20px;
}

.left-side h2 {
    font-size: 50px;
}

.left-side p {
    font-size: 14px;
    color: #918e8e;
    font-weight: 400;
}