<app-navbar></app-navbar>

<div class="home {{light}}">
    <div class="container">
        <button class="dark-mode-toggle" (click)="toggleNav()">
            <span class="sun">
                <img alt="sun icon that represents light mode" width="35px" src="../../../assets/images/sun.svg">
            </span>
            <span class="moon">
                <img alt="moon icon to represent dark mode " width="25px" src="../../../assets/images/moon.svg">
            </span>
        </button>


        <div class="row align-items-center rows">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="col-12 left-side">
                    <h2>Swasthify</h2>
                    <p>
                        A compassionate effort to aid people out of difficult times, we are resolutely committed to provide our users with hospitals and their services at their fingertips.
                    </p>
                    <a href="/home#r" class="a-link">
                        <button class="know-button">
                    Explore
                    <img src="../../../assets/images/arrow.png" class="button-image" />
                  </button>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="col-12 right-side">
                    <img src="../../../assets/images/Doctors-home.gif" class="controller" />
                    <img src="../../../assets/images/Doctors-dark.png" class="controller-dark" />
                </div>
            </div>
        </div>